.company-title {
    font-weight: 500;
    font-size: larger;
}

.company-name {
    font-size: large;
}

.header-text {
    font-size: large;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 400;
}

.company-container {
    padding: 10px;
}