.resume-container {
    background-color: #cbe0f5;
    min-height: 100vh;
}

header {
    background-color: #fff;
}

.header-title {
    margin: 10px;
    margin-left: 20px;
    font-weight: 300;
    font-size: xx-large;
}

.header-button {
    margin-right: 20px;
}