.resume-container {
  background-color: #cbe0f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #fff;
  flex-wrap: wrap;

}

.header-title {
  margin: 10px;
  margin-left: 20px;
  font-weight: 300;
  font-size: xx-large;
}

.header-button-group {
  display: flex;
  align-items: space-around;
}

.header-button {
  margin: 10px;
  margin-right: 20px;
}

.loading-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #cbe0f5;
  border-right-color: darkgrey;
  border-radius: 22px;
  -webkit-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
  /* left, top and position just for the demo! */
  /* position: absolute; */
  /* left: 50%; */
  /* top: 50%; */
}

@-webkit-keyframes rotate {

  /* 100% keyframe for  clockwise. 
       use 0% instead for anticlockwise */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {

  /* 100% keyframe for  clockwise. 
       use 0% instead for anticlockwise */
  100% {
    -webkit-transform: rotate(360deg);
  }
}