/* @import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'); */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.block {
  background-color: white;
  /* border: 2px solid black; */
  /* padding: 5px; */
  margin: 15px;
  border-radius: 5px;
}

.block-content {
  padding: 15px;
}

.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

.tac {
  text-align: center;
}

.text {
  color: gray;
}

.primary-color {
  color: #4460c4;
}

.primary-bg {
  color: #4460c4;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.aic {
  align-items: center;
}

.jcsa {
  justify-content: space-around;
}

.jcsb {
  justify-content: space-between;
}

.jcc {
  justify-content: center;
}

.fa {
  padding: 5px;
  margin-right: 10px;
}

.fr {
  float: right;
}

hr {
  border: 0.5px solid #eee;
  margin: 0;
}

.f3 {
  flex: 3;
}

.f8 {
  flex: 8;
}

.fs20 {
  font-size: 20px;
}

.subtle-anchor {
  text-decoration: none;
}

.mb10 {
  margin-bottom: 10px;
}